sudo: false

language: node_js
node_js: 10

script:
  - npm test

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $ATOKEN
  keep-history: true
  local-dir: docs/.vuepress/dist
  on:
    branch: master
